---
zabbix_server_port: 10050
zabbix_agent_port: 10051

zabbix_version: 4.4
zabbix_release: "4.4-1"

zabbix_firewalld_port:
  - "{{ zabbix_server_port }}/tcp"
  - "{{ zabbix_agent_port }}/tcp"

zabbix_packages:
  - zabbix-server-pgsql
  - zabbix-web-pgsql
  - zabbix-nginx-conf
  - zabbix-agent